* {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}


:root {
    --primary-color: rgb(7, 96, 250);
    --text-color: white;
    --sec-color: rgb(37, 116, 243);
    --third-color: rgb(26, 139, 244);
}

body {
    background-color: var(--primary-color);
}

.fixed_box {
    position: fixed;
    width: 100%;
}

nav {
    background-color: var(--primary-color);
    padding: 12px 0;
}

ul li {
    display: inline;
    list-style-type: none;
    padding: 20px;
    font-weight: bolder;
}


ul li a {
    text-decoration: none;
    color: var(--text-color);
    
}

a:hover{
    color:black;
}

.container {
    background-color: var(--sec-color);
    display: flex;
    justify-content: space-between;
    /* pushes boxes to both ends */
}

.box {
    background-color: var(--third-color);
    border: 2px solid black;
    height: 85vh;
    width: 25vw;
    margin: 50px;
    padding: 10px;
    overflow: scroll;

}

.container2 {
    border: 2px solid black;
    height: 150px;

}

h2 {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-top: 50px;
}

.image {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    bottom: 12px;
    right: 23px;

}

.image img {
    border-radius: 30px;

}

.image:hover {
    background-color: rgb(29, 145, 207);
}

footer{
    display: flex;
    justify-content: center;
}