* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
    background-color: #f2f2f2;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    font-style: italic;
}

.hero button {
    padding: 10px 25px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* SECTIONS */
section {
    padding: 50px 10%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

/* ABOUT */
.about p {
    text-align: center;
    font-size: 18px;
}

/* LIST SECTIONS */
ul {
    list-style: disc;
    padding-left: 40px;
    font-size: 18px;
}

li {
    margin-bottom: 10px;
}

/* SKILLS */
.skills ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    list-style: none;
}

.skills li {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

/* PROJECTS */
.projects ul {
    list-style: square;
}

/* FOOTER */
footer {
    color: black;
    text-align: center;
    padding: 30px 0;
}

.links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 6px 14px;
    border-radius: 4px;
}

.links a:hover {
    background-color: darkred;
}
